<template>
    <Page>
        <ActionBar class="MST">
            <Label text="Money Spent T" fontSize="24" verticalAlignment="Left"/>
        </ActionBar>
    <DockLayout stretchLastChild="false" backgroundColor="#3c495e">
        <StackLayout class="StackLayout" width="60">
            <Label text="Icone 1" dock="left" width="60"/>
            <Label text="Icone 1" dock="left" width="60"/>
            <Label text="Icone 1" dock="left" width="60"/>
            <Label text="Icone 1" dock="left" width="60"/>
            <Label text="Icone 1" dock="left" width="60"/>
            <Label text="Icone 1" dock="left" width="60"/>

        </StackLayout>
        <StackLayout>
            <TabView class="Tabview" :selectedIndex="selectedIndex" @selectedIndexChange="indexChange">
                <TabViewItem  title="Rentrées d'argent">
                    <GridLayout columns="115, 115" rows="115, 115">
                        <StackLayout row="0" col="0">
                        </StackLayout>
                        <StackLayout row="0" col="1">
                            <label text="Revenu 1"/>
                            <label text="Revenu 2"/>
                            <label text="Revenu 3"/>
                        </StackLayout>
                    </GridLayout>
                </TabViewItem>
                <TabViewItem title="Coûts fixes ">
                    <Label text="Content for Tab 2" />
                </TabViewItem>
            </TabView>

            </StackLayout>
        </DockLayout>
        
    </Page>
</template>

<script>
    export default {
        data: function() {
            return {
                test: [],
            }
        },
        methods: {
        indexChange: function(args) {
        let newIndex = args.value
        console.log('Current tab index: ' + newIndex)
  }
}
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables

    // Custom styles
    .fa {
        color: $gold-main-color;
    }

    .info {
        font-size: 20;
    }
</style>
