// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//Font icon
.fa {
   font-family: "FontAwesome";
}
.grey{
	background-color: #cccccc;
}

.btnAjouter{
	color:#1ebbd7;
}
.Tabview{
	background-color: #f9f1f1;
	color: #808080;
}
.Tablabel{
	background-color: #f9f1f1;
	color: #808080;
}
.MST{
	background-color:#808080;
	color:white;
}
.StackLayout{
	background-color:#808080;
	color:white;
}
